<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action = {% url to_go_to %} method="post">
        {% csrf_token %}
        <input type="text" name="username" id="username" required>
        <input type="password" name="password" id="password" required>
        {% if text == 'register' %}
            <input type="text" name="email" id="email" required>
        {% endif %}
        <button type="submit">{{ text }}</button>
    </form>    
    <p>{{error_message}}</p>
</body>
</html>
